.git
.gitignore
.env
.env.*
!.env.docker.example
!.env.fastapi.docker.example
dentograph-web/.env
dentograph-web/.env.*
dentograph-yolo/.env
dentograph-yolo/.env.*

**/node_modules
**/vendor
**/.venv
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.DS_Store

dentograph-web/storage/logs/*
dentograph-web/storage/app/public/*
!dentograph-web/storage/app/public/.gitignore
dentograph-web/storage/app/private/*
!dentograph-web/storage/app/private/.gitignore
dentograph-web/storage/framework/cache/data/*
dentograph-web/storage/framework/sessions/*
dentograph-web/storage/framework/views/*
dentograph-web/bootstrap/cache/*
!dentograph-web/bootstrap/cache/.gitignore
dentograph-web/public/build
dentograph-web/public/storage

dentograph-yolo/*.pt
dentograph-yolo/*.pth
dentograph-yolo/models
JURNAL
