fastapi
uvicorn
python-dotenv
langchain
langchain-core
langchain-google-genai
langchain-ollama
langchain-openai
pypdf
opencv-python
numpy
torch
torchvision
transformers
ultralytics
pillow
pymysql
pytest
